<app-nav></app-nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
     <app-search></app-search>

      <!-- Categories Widget -->
      <app-categories></app-categories>
      <!-- Side Widget -->
      <app-side></app-side>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<app-footer></app-footer>
